{% if Model.ShowApplicationForm %}
<section class="section section--spaced-after-none" style="--sectionBackgroundColor:#eae8e5;">
  <div class="section__content constrain">
    <form method="post" action="{{ Request.PathBase }}/greenhouse/apply" enctype="multipart/form-data">
      {% for question in Model.Questions %}
        {{ question | shape_render }}
      {% endfor %}
      
      {% antiforgerytoken %}
      
      <button type="submit" class="btn btn--primary">{{ Model.Settings.SubmitButtonLabel }}</button>
    </form>
  </div>
</section>
{% endif %}
