@model Etch.OrchardCore.Greenhouse.ViewModels.GreenhousePostingFormPartViewModel

@using Etch.OrchardCore.Greenhouse 

@if (Model.ShowApplicationForm)
{
    <section id="apply" class="section section--spaced-after-none" style="--sectionBackgroundColor:#eae8e5;">
        <div class="section__content constrain">
            <form method="post" action="@Context.Request.PathBase/greenhouse/apply" enctype="multipart/form-data">
                @if (TempData.ContainsKey(Constants.TempDataKeys.ApplicationError))
                {
                    <p class="alert alert--error">@TempData[Constants.TempDataKeys.ApplicationError]</p>
                }

                @foreach (var question in Model.Questions)
                {
                    @await DisplayAsync(question)
                }
      
                @Html.AntiForgeryToken()
      
                <button type="submit" class="btn btn--primary">@Model.Settings.SubmitButtonLabel</button>
            </form>
        </div>
    </section>
}
