@model Etch.OrchardCore.Greenhouse.ViewModels.GreenhousePostingFormPartEditViewModel


<div class="mb-3">
    <div class="form-check">
        <input asp-for="ShowApplicationForm" type="checkbox" class="form-check-input content-preview-select" checked="@Model.ShowApplicationForm" />
        <label class="form-check-label" asp-for="ShowApplicationForm">
            @T["Show application form"]
            <span class="hint dashed">@T["When checked, users will be able to apply for job posting directly on this website."]</span>
        </label>
    </div>
</div>